@tailwind base;
@tailwind components;

.leftbar-option {
  @apply flex space-x-4 items-center cursor-pointer;
}
.leftbar-option:hover {
  @apply text-purple;
}

.midbar {
  margin: 0 25% 0 25%;
}

.secondary-text {
  @apply text-gray-400 font-light;
}

.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind utilities;
